<Html>
<link REL="STYLESHEET" type="text/CSS" HREF="public/stylesheets/login.css" />
<head>

<link rel="stylesheet" href="/stylesheets/login.css"/>
</head>
<body>
<div class="wrapper">

<form  name="formxml" class="login" action="/login" method ="POST" >
<p class="title">Log in</p>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" />
    <br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email address" />
    <br><br>
        <label for="password">Password:</label>
        <input type="PASSWORD" id="password" name="password" placeholder="Enter your password" />
          <i class="fa fa-key"></i>
    <br><br>
  <a href="#">Forgot your password?</a>
  <button  onclick="foo();>
      <i class="spinner"></i>
      <span class="state">Log in</span>
    </button>
</form>

</Div>
</Div>

</body>
</html>